

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
 }

 
 body {
    max-width: 100%;
    font-family: helvetica, sans-serif;
    background-color: #030306; 
    font-size: 50px;
    
}


.overskrift{
    color:white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px #215BF0;
    font-size: 80px;
}
.logo {
    max-width: 50%;
    margin-right: 20px ;
}

.billede { 
 width: 40%; 
 right: 0%;
 margin-right: -3px;
}

 
h4{ 
    color:#E4E6E6;
    text-align: center;
    font-size: 40px;
}

h2{ 
    color:white;
    font-weight: bold;
    text-shadow: 0px 2px #030306;
    font-size: 80px;

}

.blad {
    position: absolute;
    z-index: -1;
    width: 100vw;
    opacity: 80%;

}




p{ 
    text-align: center;
    color: white;
    font-size: 1.2rem;
    max-width: 50ch;
}

.row-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100vw;
    margin: 2em;
}

section {
    display: flex;
    flex-direction: column;
 
}

.row-container img{
    max-width: 50%;

}

.pt{
    color: white;
    font-size: 40px;
}
.menu { 
    display: flex;
    justify-content:flex-end; 
    text-align: end;
    flex-direction: column;
    
}






.container {
    width: 100px;
}
.forimg { 
    max-width: 50%; 

}

.right{
    width: 45%;
}
.left{
    height: 200px;
    
 
}
.knap{
    color:#f2f3f7;
    text-align: center;
    
}

.sara {
    width: 40%; 
    right: 0%;
    margin-right: -3px;
}




@media only screen and (min-width: 880px) {
    .contact-box{
        grid-template-columns:1fr;
    }
    .left{ 
        height: 200px;
    }

    
      
 }



/* ************************* */


.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#215BF0;
    max-width: 100vw;

}

 

/* @media only screen and (max-width: 1000px) {
    .hero img{
        width: 50%;

    }
} */



.text-container-hero h2 {
    color: #f2f3f7;
    font-size: 5rem;

}

nav {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}


.logo-nav {
    width: 300px;
}

nav ul{
    display: flex;
}

nav li {
    font-size: 1.2rem;
    color: #f2f3f7;
    display: flex;
    align-items: center;
    margin: 0 3em;
    list-style: none;
    transition: .15s ease-in;
}


nav li:hover {
 transform: scale(1.1);
 opacity: 75%;

}

nav a {
    color:#E4E6E6;
    text-decoration: none;
}


.tekst {
    font-size: 1.4rem;
    color: #f2f3f7;
    max-width: 50ch;
}



.om-mig-tekst{
    max-width:  60ch;

}


.kontakt-mig{
    text-align: center;
    font-size: 2rem;
    background: #215BF0;
    padding: 2rem;
    width: 300px;
    border-radius: 12px;
    transition: .15s ease-in-out;
    
}

.kontakt-mig:hover {
transform: scale(1.05);
}

.kontakt a {
    color: #f2f3f7;
    text-decoration: none;
}



